<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) | Intership </title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Phone Number : 0397966709
    </p>
</body>
</html>