<footer class="footer">
  <small>
    The <a href="https://github.com/thanhchitrinh/Post_intership_project">Ruby on Rails App</a>
    by <a href="https://www.facebook.com/thanhchimeo">Thanh DEV</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",home_pages_about_path %></li>
      <li><a href="https://www.facebook.com/thanhchimeo">Contact</a></li>
      <li><a href="https://github.com/users/thanhchitrinh/projects/4/views/1">News</a></li>
    </ul>
  </nav>
</footer>